@font-face {
    font-family: excluded;
    src: url(../font/Excluded.ttf);
}

@font-face {
    font-family: excluded-italic;
    src: url(../font/ExcludedItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}