<!DOCTYPE html>
<html lang="id">
  <head>
    <!-- Meta Starts -->
    <title>Hype and Play - Admin</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Hype And Play adalah Toko Hobby yang berbasis di Surabaya"
    />
    <meta name="author" content="Jupiter Development" />
    <meta name="theme-color" content="#10122b" />
    <!-- Meta Ends -->

    <!-- Link Starts -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/admin.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      as="font"
    />
    <!-- Link Ends -->

    <!-- Icon Starts -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../img/icon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../img/icon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/icon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../img/icon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/icon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../img/icon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../img/icon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../img/icon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../img/icon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="36x36"
      href="../img/icon/android-icon-36x36.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="../img/icon/android-icon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="72x72"
      href="../img/icon/android-icon-72x72.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../img/icon/android-icon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="144x144"
      href="../img/icon/android-icon-144x144.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../img/icon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../img/icon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../img/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../img/icon/favicon-96x96.png"
    />
    <!-- Icon Ends -->
  </head>

  <body>
    <div class="wrapper">
      <!-- Slider Profile Admin Starts -->

      <div class="slider d-none d-lg-block" id="sliders">
        <!--Profile staff Starts-->
        <div class="slider-head">
          <div class="text-center layzload">
            <img
              src="../img/admin/logoadminhitam.png"
              alt="Logo Admin"
              class="logoadmin mt-5"
            />
          </div>
          <div class="d-block pt-4 pb-3 px-3 text-center">
            <img
              src="../img/admin/adminpic.png "
              alt="User"
              class="slider-img-user rounded mx-auto d-block d-flex flex-wrap layzload"
            />
            <h5
              class="font-weight-bold mb-0 1h-1m text-white"
              style="
                text-align: center;
                margin-top: 5px;
                font-family: excluded;
                font-size: 15px;
              "
            >
              Staff PIC
            </h5>
            <p class="staff text-white" style="text-align: center">Staff</p>
            <button class="btn btn-danger">Logout</button>
          </div>
        </div>
        <div class="slider-body">
          <div class="navkiri">
            <a href="adminproduct.html"
              ><button
                type="button"
                class="btn btn-outline-light horn font-weight-bold text-center w-75"
              >
                <i class="fa-solid fa-bullhorn"></i> Product
              </button></a
            >
            <a href="adminPromo.html"
              ><button
                type="button"
                class="btn btn-outline-light horn font-weight-bold text-center w-75"
              >
                <i class="fa-solid fa-bullhorn"></i> Promo
              </button></a
            >
            <a href="adminevent.html"
              ><button
                type="button"
                class="btn btn-outline-light horn font-weight-bold text-center w-75"
              >
                <i class="fa-solid fa-bullhorn"></i> Event
              </button></a
            >
            <a href="adminbanner.html"
              ><button
                type="button"
                class="btn btn-outline-light horn font-weight-bold text-center w-75"
              >
                <i class="fa-solid fa-bullhorn"></i> Banner
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="main-pages">
        <div class="container-fluid">
          <div class="row">
            <div class="col-5">
              <h2 class="text-title">Product List</h2>
            </div>
            <div class="col-7">
              <button
                type="button"
                class="btn btn-success float-right"
                onclick="location.href='adminproductupload.html'"
              >
                Add Product<i class="bi bi-plus" style="margin-left: 5px"></i>
              </button>
              <div class="dropdown dropdown-table">
                <button
                  class="btn btn-primary dropdown-toggle float-right d-lg-none"
                  style="margin-right: 5px"
                  type="button"
                  id="type"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Menu
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="type"
                >
                  <a class="dropdown-item" href="#">Product</a>
                  <a class="dropdown-item" href="#">Promo</a>
                  <a class="dropdown-item" href="#">Event</a>
                  <a class="dropdown-item" href="#">Banner</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row float-right table-search">
            <div class="dropdown dropdown-table">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Category
              </button>
              <div
                class="dropdown-menu dropdown-menu-right"
                id="category"
                aria-labelledby="dropdownMenuButton"
              >
                <!-- <a class="dropdown-item" href="#">Category 1</a>
                <a class="dropdown-item" href="#">Category 2</a>
                <a class="dropdown-item" href="#">Category 3</a> -->
              </div>
            </div>
            <form class="form-inline">
              <input
                class="form-control mr-sm-2 searchQuery"
                type="search"
                name="searchQuery"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-light my-2 my-sm-0 btn-navbar d-none d-sm-block"
                type="submit"
                onclick="event.preventDefault(); searchByName()"
              >
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
          <div class="table-responsive">
            <table
              id="tablemain"
              class="table table-hover text-wrap table-sm"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="produkListItem"></tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item previous" style="cursor: pointer">
                <a class="page-link">Previous</a>
              </li>
              <div class="dataOther d-flex"></div>

              <li class="page-item next" style="cursor: pointer">
                <a class="page-link">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script>
      const server = "http://127.0.0.1:8000";
      const limit = 5;
      const status = (response) => {
        if (response.status !== 200) {
          console.log("Error : " + response.status);
          return Promise.reject(new Error(response.statusText));
        } else {
          return Promise.resolve(response);
        }
      };

      const json = (response) => {
        return response.json();
      };

      const error = (error) => {
        console.log("Error" + error);
      };

      const fetchAPI = (url, method) => {
        var requestOptions = {
          method: method,
          redirect: "follow",
        };

        return fetch(url).then(status).then(json).catch(error);
      };

      const showProduct = (data) => {
        let product = ``;
        const statusProduct = data.status == true ? "checked" : "";
        product += `
                    <tr>
                        <td class="align-middle"><img src=${data.images} width="100"></td>
                        <td class="align-middle">${data.name}</td>
                        <td class="align-middle">${data.price}</td>
                        <td class="align-middle">${data.stock}</td>
                        <td class="align-middle">
                            <input type="checkbox" id="${data.id}" class="statusProduct" ${statusProduct} onchange="updateData(this)" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
                        </td>
                        <td class="align-middle">
                            <a href="adminproductEdit.html?id=${data.id}" style="color:white"><i class="bi bi-pencil ml-1" style="cursor:pointer"></i></a>
                            <a><i class="bi bi-trash" style="cursor:pointer" onclick="deleteProduct('${data.id}')"></i></a>
                        </td>
                    </tr>
                `;
        return product;
      };

      const processProduct = (result) => {
        let allProduct = ``;
        result.forEach((data) => {
          allProduct += showProduct(data);
        });
        document.querySelector(".produkListItem").innerHTML = allProduct;
      };

      const showDataProductFilter = (result, category) => {
        let allProduct = ``;
        result.forEach((data) => {
          if (data.category == category) {
            allProduct += showProduct(data);
          }
        });
        document.querySelector(".produkListItem").innerHTML = allProduct;
      };

      const updateData = (event) => {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
          status: event.checked,
        });

        const requestOptions = {
          method: "PATCH",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };

        fetch(`http://127.0.0.1:8000/product/${event.id}/`, requestOptions)
          .then((response) => response.text())
          .then((result) => console.log(result))
          .catch((error) => console.log("error", error));
      };

      const deleteProduct = (id) => {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = `{id : ${id}}`;

        const requestOptions = {
          method: "DELETE",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };

        fetch(`${server}/product/${id}`, requestOptions)
          .then((response) => response.text())
          .then((result) => {
            location.reload();
          })
          .catch((error) => console.log("error", error));
      };

      const searchByName = (e) => {
        const inputUser = document.querySelector(".searchQuery").value;

        if (inputUser === "") {
          return alert("Masukkan judul yang dicari");
        } else {
          getProduct(
            `${server}/product/?search=${inputUser}&limit=${limit}&offset=0`
          );
        }
      };

      let allCategory = ``;

      const processChild = (result) => {
        result.forEach((data) => {
          if (data.child.length == 0) {
            allCategory += `<a class="dropdown-item" onclick="getDataByCat('${data.id}')">${data.category}</a>`;
          } else if (data.child.length != 0) {
            processChild(data.child);
          }
        });
      };

      const processCategory = (result) => {
        result.forEach((data) => {
          if (data.child.length == 0) {
            allCategory += `<a class="dropdown-item" onclick="getDataByCat('${data.id}')">${data.category}</a>`;
          } else if (data.child.length != 0) {
            processChild(data.child);
          }
        });
        document.querySelector("#category").innerHTML = allCategory;
      };

      const getDataByCat = (category) => {
        fetchAPI(`${server}/product/`, "GET")
          .then((result) => {
            showDataProductFilter(result.results, category);
            $(function () {
              $(".statusProduct").bootstrapToggle();
            });
          })
          .catch((error) => console.log("error", error));
      };

      let nextButton = document.querySelector(".next");
      let prevButton = document.querySelector(".previous");

      const setPagination = (result) => {
        prevButton.addEventListener("click", () => {
          getProduct(result.previous);
        });

        let numberPage = Math.ceil(result.count / limit);
        // console.log(numberPage);
        let offset = 0;
        let showPage = "";
        for (let i = 0; i < numberPage; i++) {
          let query = `${server}/product/?limit=${limit}&offset=${offset}`;
          offset += limit;
          showPage += `
            <li class="page-item" style="cursor: pointer" onclick="getProduct('${query}')">
                <a class="page-link">${i + 1}</a>
            </li>`;
        }
        // console.log(showPage);
        document.querySelector(".dataOther").innerHTML = showPage;

        if (result.next == null) {
          nextButton.classList.add("disabled");
        } else {
          nextButton.classList.remove("disabled");
          nextButton.addEventListener("click", () => {
            getProduct(result.next);
          });
        }
      };

      const getProduct = (link) => {
        fetchAPI(link, "GET")
          .then((result) => {
            processProduct(result.results);
            setPagination(result);
            $(function () {
              $(".statusProduct").bootstrapToggle();
            });
          })
          .catch((error) => console.log("error", error));
      };

      getProduct(`${server}/product/?limit=${limit}&offset=0`);

      fetchAPI(`${server}/category/`, "GET")
        .then((result) => {
          processCategory(result.result);
          $(".dropdown-toggle").dropdown();
        })
        .catch((error) => console.log("error", error));
    </script>
  </body>
</html>
