<!DOCTYPE html>
<html lang="id">

<head>
    <!-- Meta Starts -->
    <title>Hype and Play - Event Detail</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hype And Play adalah Toko Hobby yang berbasis di Surabaya">
    <meta name="author" content="Jupiter Development">
    <meta name="theme-color" content="#10122b" />
    <!-- Meta Ends -->

    <!-- Link Starts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/eventdetail.css">
    <link rel="stylesheet" href="../css/queries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" as="font">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="../vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="../vendor/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <!-- Link Ends -->

    <!-- Icon Starts -->
    <link rel="apple-touch-icon" sizes="57x57" href="../img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="../img/icon/android-icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="../img/icon/android-icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="../img/icon/android-icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/icon/android-icon-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="../img/icon/android-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/icon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/icon/favicon-96x96.png">
    <!-- Icon Ends -->
</head>

<body>
    <!-- Nav Starts -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="../img/common/logoHypeAndPlay.png" alt="Logo Hype And Play" class="layzload">
        </a>
        <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="../img/common/NavbarOpen.png" loading="lazy" alt="Navbar Open Icon"></span>
            <span class="close"><img src="../img/common/NavbarClose.png" loading="lazy" alt="Navbar Close Icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto justify-content-between">
                <li class="nav-item active">
                    <a class="nav-link" href="product.html">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="release.html">New Release</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="promo.html">Promo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="event.html">Event</a>
                </li>
            </ul>
            <form class="form-inline d-none d-lg-block">
                <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light btn-sm my-2 my-sm-0 btn-navbar" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </nav>
    <!-- Nav Ends -->

    <!-- Ad Banner Starts -->
    <div class="ad-banner">
        <div class="owl-carousel owl-theme text-center">
            <div class="item"><img src="../img/common/AdBanner.png" class="img-fluid" alt="ad-banner"></div>
            <div class="item"><img src="../img/common/AdBanner.png" class="img-fluid" alt="ad-banner"></div>
            <div class="item"><img src="../img/common/AdBanner.png" class="img-fluid" alt="ad-banner"></div>
        </div>
        <div class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
            <p>Event<i class="bi bi-caret-right" style="vertical-align: -0.1em!important; margin-left: 2px;"></i><span class="separator-subtitle">Event Name</span>
            </p>
        </div>
    </div>
    <!-- Ad Banner Ends -->

    <!-- Product Starts -->
    <div class="product-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="product-carousel owl-carousel owl-theme text-center">
                    <div class="item"><img src="../img/productdetail/Product.png" class="img-fluid" alt="product"></div>
                    <div class="item"><img src="../img/productdetail/Product.png" class="img-fluid" alt="product"></div>
                    <div class="item"><img src="../img/productdetail/Product.png" class="img-fluid" alt="product"></div>
                    <div class="item"><img src="../img/productdetail/Product.png" class="img-fluid" alt="product"></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <p class="product-title newline-on-mobile">Name Of The Event</p>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id urna in dolor porttitor bibendum. Fusce pretium at velit sit amet accumsan. Maecenas ullamcorper vestibulum mauris a dictum. Aliquam convallis at metus eu faucibus. Sed quis
                    scelerisque nunc. Praesent in sem vitae enim vehicula scelerisque sit amet sed leo. Suspendisse eget ante vitae nulla hendrerit faucibus. Suspendisse interdum lectus quis bibendum pellentesque. Cras faucibus finibus nisi vel ullamcorper.
                    Cras convallis est ac luctus mollis. Mauris mauris leo, pulvinar et imperdiet sit amet, semper sed velit. Nulla ut augue vel nulla rhoncus fringilla a id erat. Integer id mi libero. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Nunc fringilla nisi sed massa efficitur sagittis. Vivamus aliquam lobortis nisl, nec scelerisque nisi eleifend eu. Fusce mattis consectetur nulla, non vulputate felis dignissim quis. Vivamus auctor ex lorem, eget fringilla nulla
                    viverra sed. Nunc sollicitudin venenatis lorem, euismod varius dui fermentum sed. </p>
            </div>
        </div>
    </div>
    <!-- Product Ends -->


    <!-- Footer Starts -->
    <footer></footer>
    <!-- Footer Ends -->

    <!-- Script Starts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="../vendor/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="../js/sidebar.js"></script>
    <!-- Script Ends -->

    <!-- Carousel Script Starts -->
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                }
            }
        })
    </script>
    <!-- Carousel Script Ends -->

    <!-- Carousel Script Starts -->
    <script>
        $('.product').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                }
            }
        })
    </script>
    <!-- Carousel Script Ends -->
</body>


</html>